  <p id="notice"><%= notice %></p>
  
  <h1>Listing Tasks</h1>
     
       <div class="row">
        <div class="large-6 columns">
             <h2>Task in Progress</h2>
            <table class="Table_in">
              <thead>
                <th>Title</th> 
               
                <th>Duration</th>
                <th>Endtime</th>
                <th>User</th>
                <th colspan="3"></th>
              </thead>
            <tbody>
               <% @tasks_check_false.each  do |task| %>
               <% if task.endtime > DateTime.now.to_date %>
              <tr>
              <td><%= task.title %></th>
              
              <td><%= task.duration %></th>
              <td><%= task.endtime %></th>
              <td><%= @users.where(["id = ?",task.user_id]).first.email %></th>
              <td><%= link_to 'Show', task %></td>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
               <%end%>
               <%end%>
            </tbody>
          </table>
          </div>
       </div>
      
       
      
        <div class="row">
        <div class="large-6 columns">
             <h2>Task Completed</h2>
          <table class="Table_completed">
            <thead>
                <th>Title</th> 
               
                <th>Duration</th>
                <th>Endtime</th>
                <th>User</th>
                <th colspan="3"></th>
            </thead>
            <tbody>
               <% @tasks_check_true.each  do |task| %>
               <tr>
              <td><%= task.title %></th>
              
              <td><%= task.duration %></th>
              <% if task.endtime > DateTime.now.to_date %>
              <td>Expirado</th>
              <% else %>
              <td><%= task.endtime %></th>
              <% end %>
              <td><%= @users.where(["id = ?",task.user_id]).first.email %></th>
              <td><%= link_to 'Show', task %></td>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
              <%end%>
            </tbody>
          </table>
          </div>
       </div>
       
       
       
        <div class="row">
        <div class="large-6 columns">
             <h2>Expired</h2>
            <table class="Table_in">
              <thead>
                <th>Title</th> 
                <th>Description</th>
                <th>Duration</th>
                <th>Endtime</th>
                <th>User</th>
                <th></th>
              </thead>
            <tbody>
               <% @tasks_check_false.each  do |task| %>
               <% if task.endtime < DateTime.now.to_date %>
              <tr>
              <td><%= task.title %></th>
              
              <td><%= task.duration %></th>
              <td><%= task.endtime %></th>
              <td><%= @users.where(["id = ?",task.user_id]).first.email %></th>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           
               </tr>
               <%end%>
               <%end%>
            </tbody>
          </table>
          </div>
       </div>
      
       
   
 
<br>
<%= link_to 'New Task', new_task_path , class:'button'%>
