<p id="notice"><%= notice %></p>

    <div class="row">
      <div class="small-6 large-5 columns">
        <p><h2><strong><%= @task.title %></strong></h2> </p>
    
    <p>
      <strong>Description:</strong>
      <%= @task.description %>
    </p>
    
    <p>
      <strong>Duration:</strong>
      <%= @task.duration %>
    </p>
    
    <p>
      <strong>Startime:</strong>
      <%= @task.startime %>
    </p>
    
    <p>
      <strong>Endtime:</strong>
      <%= @task.endtime %>
    </p>
    
    <p>
      <strong>Check:</strong>
      <%= @task.check %>
    </p>
    
    <p>
      <strong>Author:</strong>
      <%= User.all.find(@task.user_id).email %>
    </p>
    
    
      </div>
    </div>
  
  
  <%= link_to 'Edit', edit_task_path(@task),  class: 'button radius' %> 
  <%= link_to 'Back', tasks_path , class: 'button radius' %>
